.controlPanel {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #00000033;
  color: #c8c8c8;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  border-radius: 4px;

  input {
    font-size: 12px;
    background-color: #88888833;
    color: #c8c8c8;
    padding: 2px;
    border: none;
    border-radius: 4px;
  }
}

@keyframes animate {
  0% {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(440px) scale(0.4);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
